nav {
    &::before {
        content: "";
        width: calc(100vw/2);
        height: 2px;
        background-color: $primary;
        position: absolute;
        top: 90px;
        left: 0;

        @include pad {
            top: 72px;
        }
    }

    &::after {
        content: "";
        width: calc(100vw/2);
        height: 2px;
        background-color: $highlight-color;
        position: absolute;
        top: 90px;
        right: 0;

        @include pad {
            top: 72px;
        }
    }
}


nav .navbar-brand {
    display: block;
    width: 175px;
    height: 42px;
    background-image: url("../images/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;

    @include pad {
        width: 24px;
        height: 24px;
        background-image: url("../images/logo2.svg");
        background-size: cover;
    }
}

.login-icon {
    vertical-align: -5px;
}

.nav-link:hover {
    color: $primary;
}

.footer {
    background: $bg-dark;
    color: $text-second;
    font-size: 16px;
    line-height: 19px;
}