//colors
$highlight-color: #09ACF5;
$bg-darkest: #000000;
$bg-dark: #1A1A1A;
$bg-main: #1C1C1C;
$bg-light: #202020;
$border-color: #C1C1C1;
$text-main: #FFFFFF;
$text-second: #909090;

.text-mix {
    background: linear-gradient($highlight-color, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-mix {
    background: linear-gradient($highlight-color, $primary);
}

.btn-mix {
    background: linear-gradient(90deg, $highlight-color, $primary);
    border: 0;

    &:hover {
        background: linear-gradient(90deg, $primary, $highlight-color);
        border: 0;
    }
}

body {
    color: $text-main;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
}

.font-AzeretMono {
    font-family: 'Azeret Mono';
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}